python-exporter/venv/
python-exporter/logs/
*.jar
*.log
__pycache__/
.env
grafana_data/
prometheus_data/
loki_data/


# OS files
*.DS_Store
*.swp

# Environment / secrets
*.env

exit

exit.pub
jenkins.war
